.left-sidebar {
  padding: 10px 20px;
  width: 15%;
  color: white;
  overflow-y: scroll;
}
.box {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.box.active {
  background-color: #282828;
}
.box:hover {
  background-color: #282828;
}
.line {
  border: 1px solid #282828;
  margin: 10px 0;
}