.video-datail__wrapper {
  padding: 100px 20px;
}
.video-datail__wrapper .video-title {
  color: white;
  word-break: break-word;
  font-family: "YouTube Sans","Roboto",sans-serif;
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
  display: inline-block;
  -webkit-line-clamp: 2;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  margin-top: 10px;
}
.video-data {
  display: flex;
  justify-content: space-between;
}
.account-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.video-detail__left-sidebar {
  width: 65%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.like-icon {
  color: white;
}
.d-flex.like-box {
  cursor: pointer;
  color: white;
  background-color: #272727;
  padding: 10px;
  border-radius: 50px;
  gap: 5px;
}
.d-flex {
  display: flex;
  align-items: center !important;
  color: white;
  /* margin-top: 0 !important; */
}
.video-datail__wrapper .video-description {
  background-color: #272727;
  padding: 10px;
  border-radius: 10px;
  color: white;
  display: block;
  position: relative;
  overflow: hidden;
  contain: content;
  font-family: "Roboto","Arial",sans-serif;
  line-height: 24px;
  font-weight: 400;
  margin-top: 15px;
}
.video-coments {
  vertical-align: middle;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 20px;
  line-height: 2.2rem;
  font-weight: 400;
  color: white;
}
.foo a {
  color: #3ea6ff; 
}