svg {
  font-size: 20px;
  cursor: pointer;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f0f0f;
  padding: 10px 20px;
}
.header-bars__icons {
  color: white;
  font-size: 20px;
  margin-right: 20px;
}
.user-account {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.user-account svg {
  color: white;
}
.hover-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.notification {
  color: white;
  text-decoration: none;
  padding: 5px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  font-size: 25px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.notification .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 5px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 10px;
}

.hover-icon:hover {
  background-color:hsla(0, 0%, 100%, 0.08);
}